<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
    <img class="logo" slot="end" src="assets/logo.png" alt="Logo" class="logo" />
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content color="primary">
  <ion-card>
    <ion-card-header class="card-header">
      <ion-icon name="person-circle-outline" class="icon-large"></ion-icon>
      <div class="text-content">
        <ion-card-title>NICOLAS ALUMNO DUOC</ion-card-title>
      </div>
    </ion-card-header>
    <ion-card-content>
      12.345.789-1
    </ion-card-content>
  </ion-card>

  <div class="card-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="small-text"><h5>INGENIERIA EN INFORMATICA</h5></ion-card-title>
        <ion-card-subtitle class="small-text">CONCEPCION</ion-card-subtitle>
        <ion-card-subtitle class="small-text">Informatica y telecomunicaciones</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>


