<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <img class="logo" slot="end" src="assets/logo.png" alt="Logo" />
    <ion-title>Generador de QR Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" color="primary">
  <!-- Botón para retroceder a la página anterior -->
  <ion-button expand="full" color="secondary" (click)="goBack()">Volver</ion-button>

  <!-- Botón para generar el QR automáticamente -->
  <ion-button expand="full" (click)="generateQR()">Generar QR de Asistencia</ion-button>

  <!-- Mostrar el código QR generado -->
  <div *ngIf="qrCodeDataUrl">
    <img [src]="qrCodeDataUrl" alt="QR Code de Asistencia" />
  </div>
</ion-content>
