<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Scan codigo QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="openModal()">
    <ion-icon slot="start" name="camera-outline"></ion-icon>
    Abrir Modal
  </ion-button>
</ion-content>

<ion-modal [isOpen]="isModalOpen" (ionModalDidClose)="isModalOpen = false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Escanear QR</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="isModalOpen = false">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    
    <ion-content class="ion-padding">
      <ion-icon name="qr-scan-outline" style="font-size: 100px; display: block; margin: auto;"></ion-icon>
    </ion-content>
  </ng-template>
</ion-modal>
