<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
    <img class="logo" slot="end" src="assets/logo.png" alt="Logo" class="logo" />
    <ion-title>Alumno</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="primary">
  <ion-card-content >

      <ion-item color="secondary" *ngFor="let item of menuAlumno" [routerLink]="item.ruta">
        <ion-icon color="primary" slot="start" [name]="item.icono">
        </ion-icon>
        <ion-label color="primary">{{item.etiqueta}}</ion-label>
      </ion-item>

  </ion-card-content>
</ion-content>
