<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>agregar-asignatura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-item>
        <ion-input label="Input with placeholder" placeholder="Nombre de la Asignatura"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Input with placeholder" placeholder="Enter company name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Input with placeholder" placeholder="Enter company name"></ion-input>
      </ion-item>
    </ion-toolbar>
  </ion-header>
</ion-content>
