<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
    <img class="logo" slot="end" src="assets/logo.png" alt="Logo" class="logo" />
    <ion-title>Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" color="primary">
 
<ion-segment [(ngModel)]="segment" mode="ios">
  <ion-segment-button value="scan">
    <ion-label>Scan QR</ion-label>
  </ion-segment-button>
  <ion-segment-button value="pasta">
    <ion-label>Pasta</ion-label>
  </ion-segment-button>
</ion-segment>

{{segment}}

</ion-content>